.content {
    margin-top: 3rem;
}
a {
    background: -webkit-linear-gradient(0deg, var(--red-light), var(--purple-light));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 500ms;
}
a:hover {
    font-size: 110%;
}
/* section title css */
.title {
    text-align: center;
}
/* introduction section */
.introduction-section {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.left, .right {
    flex: 1 1 0%;
}

.side-img, .side-img2 {
    height: auto;
    width: 100%;
    align-self: center;
    margin: auto;
}
.side-img {
    padding: 1rem;
}
.left {
    padding: 2rem;
    margin-right: 2rem;
    border: 4px solid var(--red-light);
    border-radius: 12px;
}
.left p {
    margin: 0;
}
.introduction-section img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-position: 10% top;
    overflow: hidden;
    object-fit: cover;
}
/* data-glance section */
.data-glance-section {
    text-align: center;
    margin-bottom: 3rem;
}
.data-glance-section h2 {
    margin-bottom: 3rem;
}
.code-snippet {
    margin-bottom: 3rem;
}
.head-img {
    width: 100%;
}
.snippet-showcase {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.snippet img {
    border-radius: 10px;
}
.snippet {
    display: flex;
    flex-direction: column;
}
.snippet span {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--black);
}
/* data cleaning section */
.data-cleaning-section {
    margin-bottom: 3rem;
}
.data-cleaning-section .left {
    border: 0;
    padding: 0;
}
.data-cleaning-wrapper {
    display: flex;
}
/* visualization section */
.visualization-section, .visualization-section2 {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.visualization-section h2 {
    text-align: center;
    margin-bottom: 3rem;
}
.graph-img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
}
.graph-img-start {
    margin-top: 2rem;
}
/* ratio section */
.ratio-section {
    display: flex;
    margin-bottom: 3rem;
}
/* conclusion-section */
.conclusion-section {
    margin-bottom: 3rem;
}
.conclusion-section h2 {
    text-align: center;
    margin-bottom: 3rem;
}
.conclusion-section ul {
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .data-cleaning-wrapper, .ratio-section {
        flex-direction: column;
    }
    .data-cleaning-wrapper:last-of-type {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 992px) {
    .snippet-showcase, .data-cleaning-wrapper, .ratio-section { 
        flex-direction: column;
    }
    .snippet:nth-child(2) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .data-cleaning-wrapper:last-of-type {
        flex-direction: column-reverse;
    }
    .side-img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .data-cleaning-m-0 {
        margin-bottom: 0;
    }
    .data-cleaning-section h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
    .left {
        margin-right: 0;
    }
    .ratio-section div:last-of-type {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .introduction-section {
        flex-direction: column;
    }
    .introduction-section .left {
        margin-right: 0;
    }
    .introduction-section .right {
        margin: auto;
        margin-top: 3rem;
    }
    .side-img {
        padding: 0;
    }
}