.header {
  padding: 80px;
  text-align: center;
  background: #E63946; 
  color: white;
}
.header h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.header p {
  font-family: 'Nunito', sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #1D3557;
}
.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; 
  font-family: 'Nunito', sans-serif;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: #457B9D;
  color: white; 
}
.navbar a.active {
  background-color: #457B9D;
  color: white;
}
body {
  background-color: #F1FAEE;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%; 
  background-color: #457B9D; 
  padding: 20px; 
  color: white;
}
.side h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 125%
}
.main {
  flex: 70%; 
  background-color: #A8DADC; 
  padding: 20px; 
  color: white;
}
.main h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 125%
}
.main p1 {
  font-family: 'Merriweather', serif;
  text-align: left; 
}
.footer {
  padding: 20px;
  text-align: center;
  background: #F1FAEE;
  color: black;
}
.footer h2 {
	font-family: Arial, Helvetica, sans-serif;
}
.footer p1 {
	font-family: 'Nunito', sans-serif;
}
/* Responsive design */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}