.header {
  padding: 80px;
  text-align: center;
  background: #E63946; 
  color: white;
}
.header h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.header p {
  font-family: 'Nunito', sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #1D3557;
}
.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; 
  font-family: 'Nunito', sans-serif;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: #457B9D;
  color: white; 
}
body {
  background-color: #F1FAEE;
}