<div class="container hero-section">
    <div class="left">
        <p>Hello, I am</p>
        <h2>Robert Wilk</h2>
        <p class="flavor-text">A passionate full-stack developer dedicated to creating robust and innovative solutions.</p>
        <div class="hero-btn-group">
            <a role="button" class="btn-main margin-right" [routerLink]="['/projects']">Projects</a>
            <a role="button" class="btn-outline" [routerLink]="['/about']">Read More</a>
        </div>
    </div>
    <div class="right">
        <img src="./../../assets/media/mewithsnow.jpg" alt="picture of Robert Wilk">
    </div>
</div>