<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Contact</h1>
            <app-svg-icon class="icon-header" [path]="'assets/icons/mail.svg'"></app-svg-icon>
        </div>
        <div class="contact-content">
            <div class="left">
                <span class="big-text">Let's Connect!</span>
            </div>
            <div class="right social-list">
                <div class="github">
                    <app-svg-icon class="icon" [path]="'assets/icons/github.svg'"></app-svg-icon>
                    <a href="https://github.com/Robert-Wilk" target="_blank" rel="noreferrer">GitHub</a>
                </div>
                <div class="linkedin">
                    <app-svg-icon class="icon" [path]="'assets/icons/linkedin.svg'"></app-svg-icon>
                    <a href="https://www.linkedin.com/in/robertmwilk" target="_blank" rel="noreferrer">LinkedIn</a>
                </div>
                <div>
                    <div class="twitter">
                        <div class="swap-box">
                            <app-svg-icon class="icon front" [path]="'assets/icons/twitter.svg'"></app-svg-icon>
                            <img class="back" src="../../assets/icons/x-social.png" alt="x social logo">
                        </div>
                        <a class="twitter-text" href="https://twitter.com/robert_wilk_" target="_blank" rel="noreferrer">Twitter</a>
                    </div>
                    <span class="flavor-text">or X . . . whatever you call it</span>
                </div>
            </div>
        </div>
    </div>
</div>
