<nav>
    <div class="container">
        <ul>
            <li class="logo">
                <span>Robert Wilk</span>
            </li>
            <li>
                <a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a>
            </li>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="'is-active'">About</a>
            </li>
            <li>
                <a [routerLink]="['/projects']" [routerLinkActive]="'is-active'">Projects</a>
            </li>
            <li>
                <a [routerLink]="['/contact']" [routerLinkActive]="'is-active'">Contact</a>
            </li>
        </ul>
    </div>
</nav>
