<app-svg-icon class="nav-btn" [ngClass]="{'nav-btn-on': !showNav}" [path]="'assets/icons/hamburger.svg'" (click)="toggleNav()"></app-svg-icon>
<nav [ngClass]="{'show-nav': showNav, 'hide-nav': !showNav}">
    <div class="container">
        <app-svg-icon class="nav-btn-mobile" [path]="'assets/icons/close.svg'" (click)="toggleNav()"></app-svg-icon>
        <div class="list-wrapper">
            <ul class="nav-list">
                <li class="logo">
                    <a [routerLink]="['/home']">Robert Wilk</a>
                </li>
                <li class="nav-route">
                    <a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a>
                </li>
                <li class="nav-route">
                    <a [routerLink]="['/about']" [routerLinkActive]="'is-active'">About</a>
                </li>
                <li class="nav-route">
                    <a [routerLink]="['/projects']" [routerLinkActive]="'is-active'">Projects</a>
                </li>
                <li class="nav-route">
                    <a [routerLink]="['/contact']" [routerLinkActive]="'is-active'">Contact</a>
                </li>
            </ul>
            <ul class="socials-list">
                <li class="social-route">
                    <a href="https://www.linkedin.com/in/robertmwilk" target="_blank" rel="noreferrer" id="linkedin">
                        <app-svg-icon class="social-btn" [path]="'assets/icons/linkedin.svg'"></app-svg-icon>
                    </a>
                </li>
                <li class="social-route">
                    <a href="https://github.com/Robert-Wilk" target="_blank" rel="noreferrer" id="github">
                        <app-svg-icon class="social-btn" [path]="'assets/icons/github.svg'"></app-svg-icon>
                    </a>
                </li>
                <li class="social-route">
                    <a href="https://twitter.com/robert_wilk_" target="_blank" rel="noreferrer" id="twitter">
                        <app-svg-icon class="social-btn" [path]="'assets/icons/twitter.svg'"></app-svg-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
