<app-svg-icon class="nav-btn" [ngClass]="{'nav-btn-on': !showNav}" [path]="'assets/icons/hamburger.svg'" (click)="toggleNav()"></app-svg-icon>
<nav [ngClass]="{'show-nav': showNav, 'hide-nav': !showNav}">
    <div class="container">
        <app-svg-icon class="nav-btn-mobile" [path]="'assets/icons/close.svg'" (click)="toggleNav()"></app-svg-icon>
        <ul>
            <li class="logo">
                <span>Robert Wilk</span>
            </li>
            <li>
                <a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a>
            </li>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="'is-active'">About</a>
            </li>
            <li>
                <a [routerLink]="['/projects']" [routerLinkActive]="'is-active'">Projects</a>
            </li>
            <li>
                <a [routerLink]="['/contact']" [routerLinkActive]="'is-active'">Contact</a>
            </li>
        </ul>
    </div>
</nav>
