nav {
    padding: 1.5rem 0px;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    transition: 100ms ease transform;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.logo {
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, var(--red-light), var(--purple-light));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2px;
    margin-right: 4vw;
    font-size: 1.3rem;
}
.logo a {
    font-family: poppins !important;
    text-decoration: none;
}
.nav-route a {
    text-decoration: none;
    color: var(--black);
    display: block;
    margin: 0 1rem;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.nav-route a:hover {
    background-color: var(--red-light);
    color: var(--white);
}
.nav-btn, .nav-btn-mobile {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.nav-btn {
    z-index: 9;
}
.nav-btn:hover, .nav-btn-mobile:hover {
    background: -webkit-linear-gradient(-45deg, var(--red-light), var(--purple-light));
}
.list-wrapper {
    display: flex;
}
.socials-list {
    margin-left: auto;
}
.social-btn {
    width: 2.0rem;
    height: 2.0rem;
    display: block;
    margin: 0 1rem;
}
.is-active {
    color: var(--red-light) !important;
}
.is-active:hover {
    background-color: transparent !important;
}
#github .social-btn:hover {
    background-color: #c9510c !important;
}
#linkedin .social-btn:hover {
    background-color: #0a66c2 !important;
}
#twitter .social-btn:hover {
    background-color: #1da1f2 !important;
}
@media (max-width: 768px) {
    nav {
        width: 300px;
        margin-left: auto;
        margin-top: 2rem;
        border-radius: 10px;
        z-index: 10;
        position: fixed;
        right: 1rem;
        top: -1rem;
    }
    .nav-btn-on {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
    }
    .show-nav {
        transform: translateY(0);
    }
    ul {
        flex-direction: column;
    }
    li:nth-of-type(n) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    li:first-of-type {
        margin-right: auto;
    }
    .logo {
        margin-left: auto;
        padding: 0;
        margin-top: 10px;
        align-items: center;
    }
    .hide-nav {
        transform: translateY(-500px);
    }
    .nav-btn-mobile {
        display: block;
        margin-left: auto;
    }
    .list-wrapper {
        flex-direction: column;
    }
    .socials-list {
        flex-direction: row;
        margin-right: auto;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}