.content {
    margin-top: 3rem;
    min-height: calc(100vh - 90px - 293px);
    text-align: center;
}
h1 {
    font-family: oswald;
    font-weight: bold;
    font-size: 6rem;
    width: fit-content;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;

    background: -webkit-linear-gradient(45deg, var(--purple-light), var(--black));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 200% 200%;
	animation: gradient 3s ease infinite;
}
a {
    text-decoration: none;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}