:host {
    display: flex;
    flex: 1;
    align-items: center;
    margin: auto;
}
span {
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 8rem);
    color: var(--black);
    cursor: pointer;
    padding: 1rem;
}
span:hover {
    width:fit-content;
    background: -webkit-linear-gradient(0deg, var(--red-light), var(--purple-light));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 200% 200%;
	animation: gradient 3s ease infinite;
}
.toast1 {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #4CAF50; /* Brighter color #323232; */
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-size: 16px;
    z-index: 1000;
    
    opacity: 0;
    transform: translateY(-20px);
  
    animation: fadeUp 0.5s forwards;
}
  
@keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(4rem);
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
