<div class="b-wave">
    <div class="container">
        <div class="studies-text">
            <h1 class="header">Skills</h1>
            <div *ngFor="let section of skillSection">
                <h2 class="header">{{ section.title }}</h2>
                <ul class="skill-list">
                    <li *ngFor="let skill of section.skills"
                    (mouseenter)="showImage(skill.imageName)"
                    (mouseleave)="hideImage()">
                        <ng-container *ngIf="skill.url; else plainText">
                            <a [href]="skill.url" target="_blank" rel="noreferrer">{{ skill.name }}<span class="hover-arrow">&UpperRightArrow;</span></a>
                        </ng-container>
                        <ng-template #plainText>
                            {{ skill.name }} 
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="image-grid">
            <img *ngIf="imageUrl != ''" src="{{imageUrl}}" />
        </div>
    </div>
</div>
