@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Stack+Sans+Notch:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-100: #e6eed6;
    --base-300: #ffa630;
    --base-400: #171717;
    --red-light: #CB3F3F;
    --red-dark: #992e2e;
    --purple-light: #803FCB;
    --purple-dark: #6200b3;
    --off-white: #FAF9F6;
    --transition-delay: 180ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Stack Sans Notch", sans-serif;
}

h1, h2, h3 {
    font-weight: lighter;
    line-height: 1.25;
}

h1 {
    font-size: clamp(4rem, 5vw, 6rem);
}

h2 {
    font-size: clamp(3rem, 4vw, 5rem);
}

h3 {
    font-size: clamp(1.25rem, 1.75vw, 2.5rem);
}

a {
    text-decoration: none;
}

app-root {
    display: block;
}

app-footer {
    display: block;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}