<div class="container projects-page">
    <section id="projects-header">
        <div class="page-header">
            <h1>Projects</h1>
            <app-svg-icon class="icon" [path]="'assets/icons/lightbulb.svg'"></app-svg-icon>
        </div>
        <div class="search-bar">
            <div class="search">
                <div class="search-bar-form">
                    <form [formGroup]="projectSearch">
                        <label for="project-search" hidden>Project Name</label>
                        <input id="project-search" type="text" formControlName="project" placeholder="Project Name" (input)="searchHandler()">
                    </form>
                    <app-svg-icon class="small-icon" [path]="'assets/icons/search.svg'"></app-svg-icon>
                </div>
                <app-svg-icon *ngIf="projectSearch.value.project != ''" (click)="clearForm()" class="clear-btn" [path]="'assets/icons/clear.svg'"></app-svg-icon>
            </div>
            <div class="button-container">
                <app-svg-icon class="small-icon icon-button" [path]="'assets/icons/grid.svg'" *ngIf="listView" (click)="listView = !listView"></app-svg-icon>
                <app-svg-icon class="small-icon icon-button" [path]="'assets/icons/list.svg'" *ngIf="!listView" (click)="listView = !listView"></app-svg-icon>
            </div>
        </div>
    </section>
    <section id="projects-content" *ngIf="filteredProjects$ | async as projects">
        <div [ngClass]="{'project-display-grid': !listView, 'project-display-list': listView}">
            <div *ngFor="let project of projects" [ngClass]="{'project-grid-wrapper': !listView, 'project-list-wrapper': listView}">
                <a [routerLink]="buildUrl(project)">
                    <img *ngIf="!listView" class="project-image" [ngClass]="{'img-robot': project.id == 10}" src="{{ project.src }}" alt="{{ project.title }}" />
                    <div [ngClass]="{'project-info-grid': !listView, 'project-info-list': listView}">
                        <div [ngClass]="{'project-info-list-text': listView}">
                            <h3>{{ project.title }}</h3>
                            <p *ngIf="listView"><em>{{ project.date }}</em></p>
                        </div>
                        <p>{{ project.subtitle }}</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- No Projects Found -->
        <div *ngIf="projects.length === 0 && projectSearch.dirty">
            <h2>No Projects found, check back later :(</h2>
            <p>Alternatively, <a [routerLink]="['/contact']" class="link">contact me</a> to make this project happen</p>
        </div>
    </section>
</div>
