<footer>
    <div class="container">
        <div class="site-info">
            <p class="logo">Robert Wilk</p>
            <p>Last Updated April 2025</p>
            <a class="dog" [routerLink]="['/doggo']">Dog</a>
        </div>
        <div class="footer-list">
            <p class="footer-header">Pages</p>
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/about']">About</a>
            <a [routerLink]="['/projects']">Projects</a>
            <a [routerLink]="['/contact']">Contact</a>
        </div>
        <div class="footer-list">
            <p class="footer-header">Connect With Me</p>
            <a [routerLink]="['/email']">Email</a>
            <a href="../../assets/data/resume.pdf" target="_blank" rel="noreferrer">Resume</a>
            <div class="socials">
                <a href="https://www.linkedin.com/in/robertmwilk" target="_blank" rel="noreferrer" id="linkedin">
                    <app-svg-icon class="icon" [path]="linkedin"></app-svg-icon>
                </a>
                <a href="https://github.com/Robert-Wilk" target="_blank" rel="noreferrer" id="github">
                    <app-svg-icon class="icon" [path]="github"></app-svg-icon>
                </a>
                <a href="https://twitter.com/robert_wilk_" target="_blank" rel="noreferrer" id="twitter">
                    <app-svg-icon class="icon" [path]="twitter"></app-svg-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
