footer {
    background: linear-gradient(to right, var(--gray-1), var(--gray-2));
    /*background: linear-gradient(to right, var(--red-light), var(--purple-light));*/
    color: var(--white);
    padding: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4rem;
    align-items: start;
    background-color: white;
    border-radius: 10px;
}
.footer-header {
    font-weight: bold;
    margin-bottom: 0rem;
}
.site-info {
    padding: 1rem;
    margin: auto auto auto 0;
}
.footer-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.footer-list a {
    color: black;
    text-decoration: underline;
    width: min-content;
    padding: 5px;
    border-radius: 5px;
}
.footer-list a:hover {
    background-color: var(--red-light);
    color: white;
}
.socials {
    display: flex;
    gap: 1rem;
    justify-content: start;
}
.socials a:hover{
    background-color: white;
}
.icon {
    height: 2rem !important;
    width: 2rem !important;
    background-color: black;
}
.logo {
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, var(--red-light), var(--purple-light));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: poppins;
    font-size: 1.3rem;
}
.dog {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.dog:hover {
    color: black;
    text-decoration: underline;
}
#github .icon:hover {
    background-color: #c9510c !important;
}
#linkedin .icon:hover {
    background-color: #0a66c2 !important;
}
#twitter .icon:hover {
    background-color: #1da1f2 !important;
}
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    span {
        margin-bottom: 1rem;
        text-align: center;
    }
    .socials {
        justify-content: center;
    }
}