.b-wave {
    background-image: url("../../assets/media/wave.svg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    margin-top: 5%;
    padding-top: 15%;
}
.studies-text {
    text-align: center;
    color: var(--black);
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px 0;
}
.img-grid-wrapper {
    width: 125px;
    height: 125px;
}
.image-grid img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transition: 200ms ease-in-out;
}

.image-grid img:hover {
    width: 125px;
    height: 125px;
}