<div class="container">
    <h1 class="header">Featured Projects</h1>
    <div class="works-container">
        <div
        *ngFor="let work of works; index as i" class="work-wrapper" 
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url({{work.imgURL}});"
        (click)="navigateTo(i)"
        >
            <div class="work-header">
                <span>{{i + 1 | number: '2.0-0'}} | {{work.skillsUsed.join(', ')}}</span>
                <span>icon</span>
            </div>
            <div class="work-description">
                <h2>{{work.title}}</h2>
                <p>{{work.description}}</p>
            </div>
            <div class="link-arrow">
                <span>&nearrow;</span>
            </div>
        </div>
    </div>
    <div class="work-link">
        <a role="button" class="link" [routerLink]="['/projects']">View more</a>
    </div>
</div>
